/* Seção de Destaques */
.closure {
    height: 810px;
    width: 100%;
    background-color: rgb(40, 0, 221);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    border-radius: 12px;
    gap: 2rem;
}

/*Ajutes no Carrousel*/


.closure .container {
    height: 690px;
    max-width: 100%;
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative; /* Necessário para posicionar elementos como setas e barra */
}


/*Ajutes no Carrousel*/

 

.closure  .container .closure-carousel {
    height: 690px;
    position: relative;
    width: 100%;
    max-width: 1600px;
    margin: auto;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.closure  .container  .closure-carousel .closure-carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
 
.closure  .container .closure-carousel .closure-carousel-item {
    max-width: 100vw;
    min-width: 100%;
    position: relative;
    text-align: center;
}

.closure  .container .closure-carousel  .closure-carousel-item img {
    max-width: 100vw;
    width: 100%;
    height: 700px;
    object-fit: cover;
}

.closure  .container .closure-carousel .closure-carousel-item  .closure-carousel-content {
    background: linear-gradient(to right, #000,transparent);
    position: absolute;
    bottom: 0.6rem;
    height: 690px;
    max-width: 100vw;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    z-index: 2;
}

.closure-carousel-content h5 {
    font-size: 1.6rem;
    letter-spacing: 0.8rem;
    margin-bottom: 0.8rem;
    text-align: left;
    width: 100%;
    margin-block-start: 2.4rem;
    margin-inline: 1.4rem;
}

.closure-carousel-content h2 {
    text-align: left;
    color: #fff;
    font-size: 3.4rem;
    margin-bottom: 0.8rem;
    margin-inline: 1.4rem;
}

.closure-carousel-content h3 {
    text-align: left;
    font-size: 2.1rem;
    margin-bottom: 0.8rem;
    margin-inline: 1.4rem;
}

.closure-carousel-content p {
    text-align: left;
    color: #fff;
    font-size: 1.1rem;
    width: 60%;
    margin-inline: 1.4rem;
}

.closure-carousel-content span {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}
.closure-carousel-content .btns{
    display: flex;
    max-width: 100vw;
    width: 100%;
    gap: 20px;
    flex-direction: row;
    justify-content:start;
    align-items: center;
    margin-inline-start: 1.4rem;
    margin-bottom: 1.5rem;
    margin-block: 1.8rem;
}
 
.closure-carousel-content .closure-btn {
    padding: 10px 30px;
    border: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #5836ff;
    color: #ffffff;
    letter-spacing: 0.2rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease, box-shadow 0.3s ease;
}

.closure-carousel-content .closure-btn:hover {
    background: #ffffff;
    color: #000;;
    box-shadow: 0 0 10px 2px #ffffff;
}
.closure-carousel-content .btns a{
    text-decoration: none;
}

.closure-carousel .closure-carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}

.closure-carousel .closure-carousel-indicators div {
    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.3s;
}

.closure-carousel  .closure-carousel-indicators div.active {
    background: #5836ff;
    box-shadow: 0 0 10px 2px #5836ff;
}

@keyframes fade-in2 {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}

.fade-in2 {
    animation: fade-in2 0.8s ease-in-out;
}

@media (max-width: 768px) {
    .closure-carousel{
        border-radius: 12px;
    }
    .closure-carousel-track{
        height: auto;
        border-radius: 12px;
    }
    .closure-carousel-item{
        background: linear-gradient(to bottom, #000, transparent);
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    
    .closure-carousel-content  {
        background: linear-gradient(to bottom, #000, transparent);
        width: 100%;
        font-size: 14px;
        flex-direction: column;
        padding: 10px;
    }
    .closure-carousel-content h2 {
        font-size: 18px;
    }

    .closure-carousel-content .btns {
        padding: 8px 15px;
        flex-direction: row;
        width: 100%;
        align-items: start;
        justify-content: start;
        font-size: 14px;
    }
    .closure-carousel-content .btns .closure-btn{
        font-size: 0.8rem;
        border-radius: 2px;
        padding: 0.6rem 2.6rem;
    }
}