<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DK Web</title>

    <!--Links para as Seções-->
    <link rel="stylesheet" href="/CSS/Components/Page/Home/global.css">
    <link rel="stylesheet" href="/CSS/Components/Page/Home/header.css">
    <link rel="stylesheet" href="/CSS/Components/Page/Home/footer.css">
    <link rel="stylesheet" href="/CSS/Components/Page/Section/section.css">
    <link rel="stylesheet" href="/CSS/Components/Page/Section/beginning.css">
    <link rel="stylesheet" href="/CSS/Components/Page/Section/showcase.css">
    <link rel="stylesheet" href="/CSS/Components/Page/Section/highlights.css">
    <link rel="stylesheet" href="/CSS/Components//Page/Section/collections.css">
    <link rel="stylesheet" href="/CSS/Components/Page/Section/closure.css">
    <link rel="stylesheet" href="/CSS/Components/Page/Section/collection-wall.css">
    <link rel="stylesheet" href="/CSS/Components/Page/Section/final-showcase.css">
    <link rel="stylesheet" href="/CSS/Components/Page/Section/showcase-mid.css">
    <link rel="stylesheet" href="/CSS/Components/Page/Section/collection-wall-mid.css">
    <link rel="stylesheet" href="/CSS/Components/Page/Section/collections.mid.css">
    <link rel="stylesheet" href="/CSS/Components/Page/Section/featurend-end.css">
    
    <!--Links para os carouseis-->
    <link rel="stylesheet" href="/JS/Carousel/carousel-fade.js">
    <link rel="stylesheet" href="/CSS/Components/Page/Section/featurend.css">
    <link rel="stylesheet" href="/CSS/Components/Page/Section/brand.css">
    <link rel="stylesheet" href="/CSS/Components/Page/Section/patron.css">

    <!--Links para o Bibliotecas-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <!--Links para os favi-icons-->
    <link rel="icon" type="image/png" sizes="16x16"  href="/assets/images/favi-icons/favicons/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
</head>
<body>

    <!--Inicio do Header-->
    <header class="header">
        <nav  data-aos="fade-up"class="nav">
            <div class="logo">
                <div class="creator"><span class="creator-out">Izi</span>Leth<span class="creator-out">net</span></div>
            </div>
            <div class="nav-bar">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div  data-aos="fade-down" class="nav-links">
                <ul>
                    <li>
                        <a href="#apresentation">Apresentação</a>
                    </li>
                    <li>
                        <a href="#models">Modelos</a>
                    </li>
                    <li>
                        <a href="#narative">Narrativas</a>
                    </li>
                    <li>
                        <a href="#variantion">Variações</a>
                    </li>
                    <li>
                        <a href="#ampliation">Ampliação</a>
                    </li>
                    <li>
                        <a id="btn-explore" href="/HTML/index-beta.html">Explorar</a>
                    </li>
                </ul>
            </div>
            <div data-aos="fade-down" class="buttons">
                <button class="btn-redirect">
                    <span class="fas fa-search"></span>
                    <span class="text">Buscar</span>
                </button>
                <button class="btn-redirect">
                    <span class="fas fa-search"></span>
                    <span class="text">Explorar</span>
                </button>
            </div>
        </nav>
    </header>
    <!--Fim do Header-->
    
    <!--Início da Primeira seção-->

    <section class="section">
        <div  data-aos="zoom-in"  class="beginning">
            <div data-aos="zoom-in" class="box">
                <div class="carousel">
                  <div>
                    <div class="navigation-buttons">
                        <button class="nav-button prev">
                            <i class="fa fa-angle-left"></i>
                        </button>
                        <button class="nav-button next">
                            <i class="fa fa-angle-right"></i>
                        </button>
                    </div>
                    <div class="bar">
                        <span class="bar-load"></span>
                    </div>
                  </div>
                </div>
                <div data-aos="fade-up" class="content">
                    <h5><span>Izi</span>Leth<h5>
                    <h1>Bem Vindo <span> A Extenção</span> Drift King</h1>
                    <h3>Página Web Criada Online</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed finibus, erat vel bibendum laoreet, justo velit convallis velit, sed bibendum dui nunc et velit. Donec vel est a neque gravida posuere vel in neque.</p>
                    <div>
                        <button class="btn-cta">Explorar</button>
                        <button class="btn-cta">See More</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--Carrousel de Patrocinios-->
    
    <section class="section">
        <div class="patrons">
            <div data-aos="fade-down" class="header">
                <i class="fa-solid fa-xmark"></i>
                <h2>Patrocinadores <i class="fa-solid fa-plus" ></i></h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed finibus, erat vel bibendum laoreet, justo velit convallis velit, sed bibendum dui nunc et velit. Donec vel est a neque gravida posuere vel in neque.</p> <i class="fa-solid fa-xmark"></i>
                <i class="fa-solid fa-xmark"></i>
            </div>
            <div data-aos="fade-up" class="container">
                <div class="scroll" style="--t:12s">
                    <div>
                        <span class="item">Lamborguinhi</span>
                        <span class="item">Ferrari</span>
                        <span class="item">Porshe</span>
                        <span class="item">BMW</span>
                        <span class="item">Mercedez</span>
                    </div>
                    <div>
                        <span class="item">Lamborguinhi</span>
                        <span class="item">Ferrari</span>
                        <span class="item">Porshe</span>
                        <span class="item">BMW</span>
                        <span class="item">Mercedez</span>
                    </div>
                </div>
                <div class="scroll"  style="--t:10s">
                    <div>
                        <span class="item">Lamborguinhi</span>
                        <span class="item">Ferrari</span>
                        <span class="item">Porshe</span>
                        <span class="item">BMW</span>
                        <span class="item">Mercedez</span>
                    </div>
                    <div>
                        <span class="item">Lamborguinhi</span>
                        <span class="item">Ferrari</span>
                        <span class="item">Porshe</span>
                        <span class="item">BMW</span>
                        <span class="item">Mercedez</span>
                    </div>
                </div>
                <div class="scroll"  style="--t:15s">
                    <div>
                        <span class="item">Lamborguinhi</span>
                        <span class="item">Ferrari</span>
                        <span class="item">Porshe</span>
                        <span class="item">BMW</span>
                        <span class="item">Mercedez</span>
                    </div>
                    <div>
                        <span class="item">Lamborguinhi</span>
                        <span class="item">Ferrari</span>
                        <span class="item">Porshe</span>
                        <span class="item">BMW</span>
                        <span class="item">Mercedez</span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--Fim da seção de patrocinios-->
    
    <!--Início da Quinta seção-->
        
    <!--Início da Segunda seção-->

    <section class="section">
        <div class="showcase">
            <div data-aos="fade-down" class="header">
                <i class="fa-solid fa-plus" ></i>
                <h2><i class="fa-solid fa-plus" ></i> Modelos</h2>
                <h3>Decrição dos Principais Modelos</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed finibus, erat vel bibendum laoreet, justo velit convallis velit, sed bibendum dui nunc et velit. Donec vel est a neque gravida posuere vel in neque.</p>
                <i class="fa-solid fa-plus" ></i>
            </div>
            <div data-aos="fade-left" class="container">
                <div data-aos="fade-down"  class="box">
                    <div class="midia">
                        <img src="/assets/images/imagem-carros/Lanborguinhi/Lamborghini-Revuelto.png" alt="Modelo 1">
                    </div>
                    <div class="content">
                        <h3>Revuelto</h3>
                        <h5>Motor V-12 - 1900CV</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed finibus, erat vel bibendum laoreet, justo velit convallis velit, sed bibendum dui nunc et velit. Donec vel est a neque gravida posuere vel in neque.</p>
                    </div>
                </div>
                <div data-aos="fade-down"  class="box">
                    <div class="midia">
                        <img src="/assets/images/imagem-carros/Lanborguinhi/lamborghini-revuelto-2.png" alt="Modelo 1">
                    </div>
                    <div class="content">
                        <h3>Revuelto</h3>
                        <h5>Motor V-12 - 1900CV</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed finibus, erat vel bibendum laoreet, justo velit convallis velit, sed bibendum dui nunc et velit. Donec vel est a neque gravida posuere vel in neque.</p>
                    </div>
                </div>
                <div data-aos="fade-down" class="box">
                    <div class="midia">
                        <img src="/assets/images/imagem-carros/Lanborguinhi/lamborghini-revuelto-3.png" alt="Modelo 1">
                    </div>
                    <div class="content">
                        <h3>Revuelto</h3>
                        <h5>Motor V-12 - 1900CV</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed finibus, erat vel bibendum laoreet, justo velit convallis velit, sed bibendum dui nunc et velit. Donec vel est a neque gravida posuere vel in neque.</p>
                    </div>
                </div>
                <div data-aos="fade-down"  class="box">
                    <div class="midia">
                        <img src="/assets/images/imagem-carros/Lanborguinhi/Lamborgnhi-revuelto-4.png.jpg" alt="Modelo 1">
                    </div>
                    <div class="content">
                        <h3>Revuelto</h3>
                        <h5>Motor V-12 - 1900CV</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed finibus, erat vel bibendum laoreet, justo velit convallis velit, sed bibendum dui nunc et velit. Donec vel est a neque gravida posuere vel in neque.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!--Inicio da Seção Bonus-->
    <section class="section">
        <div  data-aos="fade-down" class="showcase-mid">
            <div data-aos="fade-up"  class="container">
                <div data-aos="fade-up"  class="header">
                    <div>
                        <i class="fa-solid fa-arrow-left"></i>
                        <h2>Motores <i class="fa-solid fa-arrow-up"></i></h2>
                        <h3>Melhores Motores do Mercado</h3>
                        <i class="fa-solid fa-xmark"></i>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed finibus, erat vel bibendum laoreet, justo velit convallis velit, sed bibendum dui nunc et velit. Donec vel est a neque gravida posuere vel in neque.</p>
                        <i class="fa-solid fa-arrow-right"></i>
                    </div>
                </div>
                <div data-aos="zoom-in"  class="box">
                    <div style="--t:54s">
                        <div class="midia">
                            <img src="/assets//images/imagem-carros/Buggati/Bugatti Bolide.png" alt="Banner">
                        </div>
                        <div class="midia">
                            <img src="/assets//images/imagem-carros/Ferrari/Ferrari 12 colindri-1.png" alt="Banner">
                        </div>
                        <div class="midia">
                            <img src="/assets/images/imagem-carros/Lanborguinhi/Lamborghini-Revuelto.png" alt="Banner">
                        </div>
                        <div class="midia">
                            <img src="/assets//images/imagem-carros/Buggati/Bugatti Bolide-2.png" alt="Banner">
                        </div>
                        <div class="midia">
                            <img src="/assets//images/imagem-carros/Ferrari/Ferrari 12 clindri-4.png" alt="Banner">
                        </div>
                        <div class="midia">
                            <img src="/assets/images/imagem-carros/Lanborguinhi/Lamborgnhi-revuelto-4.png.jpg" alt="Banner">
                        </div>
                    </div>
                    <div data-aos="zoom-in"  style="--t:54s">
                        <div class="midia">
                            <img src="/assets//images/imagem-carros/Buggati/Bugatti Bolide.png" alt="Banner">
                        </div>
                        <div class="midia">
                            <img src="/assets//images/imagem-carros/Ferrari/Ferrari 12 colindri-1.png" alt="Banner">
                        </div>
                        <div class="midia">
                            <img src="/assets/images/imagem-carros/Lanborguinhi/Lamborghini-Revuelto.png" alt="Banner">
                        </div>
                        <div class="midia">
                            <img src="/assets//images/imagem-carros/Buggati/Bugatti Bolide-2.png" alt="Banner">
                        </div>
                        <div class="midia">
                            <img src="/assets//images/imagem-carros/Ferrari/Ferrari 12 clindri-4.png" alt="Banner">
                        </div>
                        <div class="midia">
                            <img src="/assets/images/imagem-carros/Lanborguinhi/Lamborgnhi-revuelto-4.png.jpg" alt="Banner">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!--Fim da Seção Bonus-->

    <!--Carousel Final-->
    <section class="section">
        <div data-aos="fade-up"  class="featurend-end">
           <div  data-aos="fade-down" class="container">
                <div class="scroll" style="--t:32s">
                    <div>
                        <span>Drift <p>King</p></span>
                    </div>
                    <div>
                        <span>Drift <p>King</p></span>
                    </div>
                    <div>
                        <span>Drift <p>King</p></span>
                    </div>
                    <div>
                        <span>Drift <p>King</p></span>
                    </div>
                    <div>
                        <span>Drift <p>King</p></span>
                    </div>
                    <div>
                        <span>Drift <p>King</p></span>
                    </div>
                </div>
                <div class="scroll" style="--t:22s">
                    <div>
                        <span>Izi <p>Leth</p></span>
                    </div>
                    <div>
                        <span>Izi <p>Leth</p></span>
                    </div>
                    <div>
                        <span>Izi <p>Leth</p></span>
                    </div>
                    <div>
                        <span>Izi <p>Leth</p></span>
                    </div>
                    <div>
                        <span>Izi <p>Leth</p></span>
                    </div>
                    <div>
                        <span>Izi <p>Leth</p></span>
                    </div>
                </div>
           </div>
        </div>
    </section>
    
    <!--Fim do Carousel Final-->
        
    <!--Início da Teceira seção-->

    <section class="section">
        <div class="highlights">
            <div data-aos="fade-left" class="container">
                <div data-aos="fade-up" class="box">
                    <div data-aos="fade-dow" class="content">
                        <h5><span>Izi</span>Leth</h5>
                        <h2>Principais Destaques</h2>
                        <h3>As Máquinas Mais Potentes Do Planeta</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed finibus, erat vel bibendum laoreet, justo velit convallis velit, sed bibendum dui nunc et velit. Donec vel est a neque gravida posuere vel in neque.</p>
                        <div class="buttons">
                            <a href="#" class="btn-hight">Explorar</a>
                            <a href="#" class="btn-hight">Avançar</a>
                        </div>
                    </div>
                    <div class="carousel">
                        <div>
                            <div class="arrows">
                                <span class="prev">
                                     <i class="fa-solid fa-angle-left"></i>
                                </span>
                                <span class=" next">
                                     <i class="fa-solid fa-angle-right"></i>
                                </span>
                            </div>
                            <div class="bar">
                                <span class="bar-load"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--Inico do Carousel de Marcas-->
    <section class="section">
        <div class="brand">
            <divd ata-aos="fade-up" class="header">
                <div>
                    <i class="fa-solid fa-arrow-right"></i>
                    <h2>Marcas        <i class="fa-solid fa-arrow-right"></i></h2>
                    <h3>Veja as Marcas mais conhecidas do mundo <i class="fa-solid fa-arrow-up"></i></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed finibus, erat vel bibendum laoreet, justo velit convallis velit, sed bibendum dui nunc et velit. Donec vel est a neque gravida posuere vel in neque.</p>  
                    <i class="fa-solid fa-xmark"></i>
                </div>
            </divd>
            <div data-aos="fade-dow" class="carousel">
                <div class="scroll" style="--t:15s">
                    <div>
                        <span class="item">LBK Perfomace</span>
                    </div>
                    <div>
                        <span class="item">LBK Perfomace</span>
                    </div>
                    <div>
                        <span class="item">LBK Perfomace</span>
                    </div>
                    <div>
                        <span class="item">LBK Perfomace</span>
                    </div>
                    <div>
                        <span class="item">LBK Perfomace</span>
                    </div>
                    <div>
                        <span class="item">LBK Perfomace</span>
                    </div>
                </div>
                <div class="scroll" style="--t:25s">
                    <div>
                        <span class="item">Rocket Bunny</span>
                    </div>
                    <div>
                        <span class="item">Rocket Bunny</span>
                    </div>
                    <div>
                        <span class="item">Rocket Bunny</span>
                    </div>
                    <div>
                        <span class="item">Rocket Bunny</span>
                    </div>
                    <div>
                        <span class="item">Rocket Bunny</span>
                    </div>
                    <div>
                        <span class="item">Rocket Bunny</span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--Fim do Carousel de Marcas-->
    
    <!--Início da Quarta seção-->

    <section class="section">
        <div class="collections">
            <div class="container">
                <div data-aos="fade-down" class="header">
                    <i class="fa-solid fa-arrow-right"></i>
                    <h2>Coleções        <i class="fa-solid fa-arrow-right"></i></h2>
                    <h3>As Melhores Marcas do Planeta <i class="fa-solid fa-arrow-up"></i></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed finibus, erat vel bibendum laoreet, justo velit convallis velit, sed bibendum dui nunc et velit. Donec vel est a neque gravida posuere vel in neque.</p>  
                    <i class="fa-solid fa-xmark"></i>  
                </div>
                <div data-aos="fade-up" class="box">
                    <div data-aos="fade-down" class="item">
                        <div class="midia">
                            <img src="/assets/images/imagem-carros/Ferrari/Ferrari 12 colindri.png" alt="Coleção 1">
                        </div>
                        <div class="content">
                            <h3>Ferrari</h3>
                            <h5>12 Cilindri</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed finibus, erat vel bibendum laoreet, justo velit convallis velit, sed bibendum dui nunc et velit. Donec vel est a neque gravida posuere vel in neque.</p>
                        </div>
                    </div>
                    <div data-aos="fade-down"  class="item">
                        <div class="midia">
                            <img src="/assets/images/imagem-carros/Ferrari/Ferrari 12 clindri-4.png" alt="Coleção 1">
                        </div>
                        <div class="content">
                            <h3>Ferrari</h3>
                            <h5>12 Cilindri</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed finibus, erat vel bibendum laoreet, justo velit convallis velit, sed bibendum dui nunc et velit. Donec vel est a neque gravida posuere vel in neque.</p>
                        </div>
                    </div>
                    <div data-aos="fade-down"  class="item">
                        <div class="midia">
                            <img src="/assets/images/imagem-carros/Ferrari/Ferrari 12 clindri-3.png" alt="Coleção 1">
                        </div>
                        <div class="content">
                            <h3>Ferrari</h3>
                            <h5>12 Cilindri</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed finibus, erat vel bibendum laoreet, justo velit convallis velit, sed bibendum dui nunc et velit. Donec vel est a neque gravida posuere vel in neque.</p>
                        </div>
                    </div>
                    <div data-aos="fade-down"  class="item">
                        <div class="midia">
                            <img src="/assets/images/imagem-carros/Ferrari/Ferrari 12 clindri-3.png" alt="Coleção 1">
                        </div>
                        <div class="content">
                            <h3>Ferrari</h3>
                            <h5>12 Cilindri</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed finibus, erat vel bibendum laoreet, justo velit convallis velit, sed bibendum dui nunc et velit. Donec vel est a neque gravida posuere vel in neque.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
        
    <!--Inicio da Seção Bonus-->
    <section class="section">
        <div data-aos="fade-down" class="collections-mid">
            <div data-aos="fade-up"  class="container">
                <div data-aos="fade-right"  class="header">
                    <div>
                        <i class="fa-solid fa-arrow-left"></i>
                        <h2>Motores <i class="fa-solid fa-arrow-up"></i></h2>
                        <h3>Melhores Motores do Mercado</h3>
                        <i class="fa-solid fa-xmark"></i>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed finibus, erat vel bibendum laoreet, justo velit convallis velit, sed bibendum dui nunc et velit. Donec vel est a neque gravida posuere vel in neque.</p>
                        <i class="fa-solid fa-arrow-right"></i>
                    </div>
                </div>
                <div data-aos="zoom-in"  class="box">
                    <div style="--t:54s">
                        <div class="midia">
                            <img src="/assets//images/imagem-carros/Buggati/Bugatti Bolide.png" alt="Banner">
                        </div>
                        <div class="midia">
                            <img src="/assets//images/imagem-carros/Ferrari/Ferrari 12 colindri-1.png" alt="Banner">
                        </div>
                        <div class="midia">
                            <img src="/assets/images/imagem-carros/Lanborguinhi/Lamborghini-Revuelto.png" alt="Banner">
                        </div>
                        <div class="midia">
                            <img src="/assets//images/imagem-carros/Buggati/Bugatti Bolide-2.png" alt="Banner">
                        </div>
                        <div class="midia">
                            <img src="/assets//images/imagem-carros/Ferrari/Ferrari 12 clindri-4.png" alt="Banner">
                        </div>
                        <div class="midia">
                            <img src="/assets/images/imagem-carros/Lanborguinhi/Lamborgnhi-revuelto-4.png.jpg" alt="Banner">
                        </div>
                    </div>
                    <div data-aos="zoom-in"  style="--t:54s">
                        <div class="midia">
                            <img src="/assets//images/imagem-carros/Buggati/Bugatti Bolide.png" alt="Banner">
                        </div>
                        <div class="midia">
                            <img src="/assets//images/imagem-carros/Ferrari/Ferrari 12 colindri-1.png" alt="Banner">
                        </div>
                        <div class="midia">
                            <img src="/assets/images/imagem-carros/Lanborguinhi/Lamborghini-Revuelto.png" alt="Banner">
                        </div>
                        <div class="midia">
                            <img src="/assets//images/imagem-carros/Buggati/Bugatti Bolide-2.png" alt="Banner">
                        </div>
                        <div class="midia">
                            <img src="/assets//images/imagem-carros/Ferrari/Ferrari 12 clindri-4.png" alt="Banner">
                        </div>
                        <div class="midia">
                            <img src="/assets/images/imagem-carros/Lanborguinhi/Lamborgnhi-revuelto-4.png.jpg" alt="Banner">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!--Fim da Seção Bonus-->
       
    <!--Carousel Final-->
    <section class="section">
        <div  data-aos="fade-up" class="featurend-end">
           <div  data-aos="fade-down" class="container">
                <div class="scroll" style="--t:32s">
                    <div>
                        <span>Drift <p>King</p></span>
                    </div>
                    <div>
                        <span>Drift <p>King</p></span>
                    </div>
                    <div>
                        <span>Drift <p>King</p></span>
                    </div>
                    <div>
                        <span>Drift <p>King</p></span>
                    </div>
                    <div>
                        <span>Drift <p>King</p></span>
                    </div>
                    <div>
                        <span>Drift <p>King</p></span>
                    </div>
                </div>
                <div class="scroll" style="--t:22s">
                    <div>
                        <span>Izi <p>Leth</p></span>
                    </div>
                    <div>
                        <span>Izi <p>Leth</p></span>
                    </div>
                    <div>
                        <span>Izi <p>Leth</p></span>
                    </div>
                    <div>
                        <span>Izi <p>Leth</p></span>
                    </div>
                    <div>
                        <span>Izi <p>Leth</p></span>
                    </div>
                    <div>
                        <span>Izi <p>Leth</p></span>
                    </div>
                </div>
           </div>
        </div>
    </section>

    <!--Início da Quinta Quinta-->

    <section class="section">
        <div class="closure">
            <div class="container">
                <div data-aos="fade-up" class="box">
                    <div data-aos="fade-down"  class="content">
                        <h5><span>Izi</span>Leth</h5>
                        <h2>Detaques Recentes</h2>
                        <h3>As Principais Referencias Desse Mundo</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed finibus, erat vel bibendum laoreet, justo velit convallis velit, sed bibendum dui nunc et velit. Donec vel est a neque gravida posuere vel in neque.</p>
                        <div class="buttons">
                            <a href="#" class="button">Explorar</a>
                            <a href="#" class="button">Avançar</a>
                        </div>
                    </div>
                    <div data-aos="fade-right"  class="carousel">
                        <div>
                            <div class="arrows">
                                <span class="prev">
                                    <i class="fa-solid fa-angle-left"></i>
                               </span>
                               <span class=" next">
                                    <i class="fa-solid fa-angle-right"></i>
                               </span>
                            </div>
                            <div class="bar">
                                <span class="bar-load"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--Fim da Quinta seção-->
     
    <!--Início da Sexta seção-->
    <section class="section">
        <div class="featured">
            <div class="container">
                <div data-aos="fade-down"  class="header">
                    <i class="fa-solid fa-arrow-right"></i>
                    <h2>Destaques        <i class="fa-solid fa-arrow-up"></i></h2>
                    <h3>Veja os Melhores Carros do Mercado <i class="fa-solid fa-angle-right"></i></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed finibus, erat vel bibendum laoreet, justo velit convallis velit, sed bibendum dui nunc et velit. Donec vel est a neque gravida posuere vel in neque.</p>  
                    <i class="fa-solid fa-arrow-right"></i>
                </div>    
                <div data-aos="fade-up"  class="carousel">
                    <div class="scroll" style="--t:12s">
                        <div>
                            <span>Aventador</span>
                        </div>
                        <div>
                            <span>Gallardo</span>
                        </div>
                        <div>
                            <span>Centenário</span>
                        </div>
                        <div>
                            <span>Veneneno</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Fim da Sexta Seção-->

    <!--Inicio da sétima seção-->

    <section class="section">
        <div class="collection-wall">
            <div class="container">
                <div data-aos="fade-up"  class="header">
                    <div>
                        <i class="fa-solid fa-arrow-up"></i>
                        <h2>Novas Coleções <i class="fa-plus"></i></h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed finibus, erat vel bibendum laoreet, justo velit convallis velit, sed bibendum dui nunc et velit. Donec vel est a neque gravida posuere vel in neque.</p>
                        <i class="fa-solid fa-xmark"></i>
                    </div>
                </div>
                <div  data-aos="fade-down" class="box">
                    <div data-aos="fade-left"  class="item">
                        <div class="midia">
                            <img src="/assets/images/imagem-carros/Buggati/Bugatti Bolide.png">
                        </div>
                        <div class="content">
                            <h3>Bugatti</h3>
                            <h5>Bolide</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed finibus, erat vel bibendum laoreet, justo velit convallis velit, sed bibendum dui nunc et velit. Donec vel est a neque gravida posuere vel in neque.</p>
                        </div>
                    </div>
                    <div data-aos="fade-left"   class="item">
                        <div class="midia">
                            <img src="/assets/images/imagem-carros/Buggati/Bugatti Bolide.png">
                        </div>
                        <div class="content">
                            <h3>Bugatti</h3>
                            <h5>Bolide</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed finibus, erat vel bibendum laoreet, justo velit convallis velit, sed bibendum dui nunc et velit. Donec vel est a neque gravida posuere vel in neque.</p>
                        </div>
                    </div>
                    <div data-aos="fade-left"   class="item">
                        <div class="midia">
                            <img src="/assets/images/imagem-carros/Buggati/Bugatti Bolide.png">
                        </div>
                        <div class="content">
                            <h3>Bugatti</h3>
                            <h5>Bolide</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed finibus, erat vel bibendum laoreet, justo velit convallis velit, sed bibendum dui nunc et velit. Donec vel est a neque gravida posuere vel in neque.</p>
                        </div>
                    </div>
                    <div data-aos="fade-left"   class="item">
                        <div class="midia">
                            <img src="/assets/images/imagem-carros/Buggati/Bugatti Bolide.png">
                        </div>
                        <div class="content">
                            <h3>Bugatti</h3>
                            <h5>Bolide</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed finibus, erat vel bibendum laoreet, justo velit convallis velit, sed bibendum dui nunc et velit. Donec vel est a neque gravida posuere vel in neque.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
        
    <!--Inicio da Seção Bonus-->
    <section class="section">
        <div data-aos="fade-up"  class="collection-wall-mid">
            <div data-aos="fade-down"  class="container">
                <div data-aos="fade-left"  class="header">
                    <div>
                        <i class="fa-solid fa-arrow-left"></i>
                        <h2>Motores <i class="fa-solid fa-arrow-up"></i></h2>
                        <h3>Melhores Motores do Mercado</h3>
                        <i class="fa-solid fa-xmark"></i>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed finibus, erat vel bibendum laoreet, justo velit convallis velit, sed bibendum dui nunc et velit. Donec vel est a neque gravida posuere vel in neque.</p>
                        <i class="fa-solid fa-arrow-right"></i>
                    </div>
                </div>
                <div data-aos="zoom-in"  class="box">
                    <div style="--t:54s">
                        <div class="midia">
                            <img src="/assets//images/imagem-carros/Buggati/Bugatti Bolide.png" alt="Banner">
                        </div>
                        <div class="midia">
                            <img src="/assets//images/imagem-carros/Ferrari/Ferrari 12 colindri-1.png" alt="Banner">
                        </div>
                        <div class="midia">
                            <img src="/assets/images/imagem-carros/Lanborguinhi/Lamborghini-Revuelto.png" alt="Banner">
                        </div>
                        <div class="midia">
                            <img src="/assets//images/imagem-carros/Buggati/Bugatti Bolide-2.png" alt="Banner">
                        </div>
                        <div class="midia">
                            <img src="/assets//images/imagem-carros/Ferrari/Ferrari 12 clindri-4.png" alt="Banner">
                        </div>
                        <div class="midia">
                            <img src="/assets/images/imagem-carros/Lanborguinhi/Lamborgnhi-revuelto-4.png.jpg" alt="Banner">
                        </div>
                    </div>
                    <div data-aos="zoom-in"  style="--t:54s">
                        <div class="midia">
                            <img src="/assets//images/imagem-carros/Buggati/Bugatti Bolide.png" alt="Banner">
                        </div>
                        <div class="midia">
                            <img src="/assets//images/imagem-carros/Ferrari/Ferrari 12 colindri-1.png" alt="Banner">
                        </div>
                        <div class="midia">
                            <img src="/assets/images/imagem-carros/Lanborguinhi/Lamborghini-Revuelto.png" alt="Banner">
                        </div>
                        <div class="midia">
                            <img src="/assets//images/imagem-carros/Buggati/Bugatti Bolide-2.png" alt="Banner">
                        </div>
                        <div class="midia">
                            <img src="/assets//images/imagem-carros/Ferrari/Ferrari 12 clindri-4.png" alt="Banner">
                        </div>
                        <div class="midia">
                            <img src="/assets/images/imagem-carros/Lanborguinhi/Lamborgnhi-revuelto-4.png.jpg" alt="Banner">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    
    <!--Carousel Final-->
    <section  class="section">
        <div data-aos="fade-up"  class="featurend-end">
           <div data-aos="fade-down"  class="container">
                <div class="scroll" style="--t:32s">
                    <div>
                        <span>Drift <p>King</p></span>
                    </div>
                    <div>
                        <span>Drift <p>King</p></span>
                    </div>
                    <div>
                        <span>Drift <p>King</p></span>
                    </div>
                    <div>
                        <span>Drift <p>King</p></span>
                    </div>
                    <div>
                        <span>Drift <p>King</p></span>
                    </div>
                    <div>
                        <span>Drift <p>King</p></span>
                    </div>
                </div>
                <div class="scroll" style="--t:22s">
                    <div>
                        <span>Izi <p>Leth</p></span>
                    </div>
                    <div>
                        <span>Izi <p>Leth</p></span>
                    </div>
                    <div>
                        <span>Izi <p>Leth</p></span>
                    </div>
                    <div>
                        <span>Izi <p>Leth</p></span>
                    </div>
                    <div>
                        <span>Izi <p>Leth</p></span>
                    </div>
                    <div>
                        <span>Izi <p>Leth</p></span>
                    </div>
                </div>
           </div>
        </div>
    </section>
    
    <!--Fim da Seção Bonus-->

    <!--Fim da sétima seção-->

    <!--Início do contato-->
    <section class="section">
        <div class="final-showcase">
            <div class="container">
                <div data-aos="fade-down"   class="header">
                    <div>
                        <i class="fa-solid fa-arrow-up"></i>
                        <h2><i class="fa-plus"></i>Entre em Contato Com o Desenvovedor</h2>
                        <h3>Izi <span>Leth</span> Creator <i class=" fa-angle-left"></i></h3>
                    </div>
                    <div>
                        <a href="#"><i class="fa-solid fa-arrow-up"></i></a>
                        <a href="#"><i class="fa-solid fa-map-marker-alt"></i></a>
                        <a href="#"><i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                </div>
                <di data-aos="fade-up"  v class="box">
                    <form data-aos="zoom-in"  action="#">
                        <div data-aos="zoom-in" >
                            <label for="name">Git Hub</label>
                            <input type="text" id="email" name="name" required>
                            <a href="#"><i class="fab fa-facebook-square"></i></a>
                        </div>
                        <div data-aos="zoom-in" >
                            <label for="name">Instagram</label>
                            <input type="text" id="email" name="name" required>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                        <div data-aos="zoom-in" >
                            <label for="name">Reddit</label>
                            <input type="text" id="email" name="name" required>
                            <a href="#"><i class="fab fa-linkedin"></i></a>
                        </div>
                    </form>
                </di>
                <div  data-aos="fade-up" class="carousel">
                    <div class="scroll" style="--t:12s">
                        <div>
                            <span>IziLeth</span>
                        </div>
                        <div>
                            <span>IziLeth</span>
                        </div>
                        <div>
                            <span>IziLeth</span>
                        </div>
                        <div>
                            <span>IziLeth</span>
                        </div>
                        <div>
                            <span>IziLeth</span>
                        </div>
                        <div>
                            <span>IziLeth</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!--Início do rodapé-->
    <footer data-aos="zoom-in"  >
        <div >
            <h2>Automobilismo Online</h2>
            <p>Todos os direitos reservados | Copyrithing 2025</p>
            <p><a href="">Clique aqui para descrobir o Universo desenvolvido por Izileth</a></p>
            <p><a href="https://github.com/Izileth">Izileth Tech</a></p>
            <p>Aprenda cada vez mais sobre o mundo automobilistico e conheça a história por trás dessa cultura Incrivel.</p>
            <ul>
                <li><a href="#">Sobre</a></li>
                <li><a href="#">Contato</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Termos e Condições</a></li>
            </ul>
        </div>
    </footer>

    <!--Fim do rodapé-->
    <!--Scripts-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/js/all.min.js"></script>
    <script src="/JS/Carousel/carousel-lamborguinhi.js"></script>
    <script src="/JS/navbar.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>  AOS.init(); </script>
    <!--Fim dos Scripts-->

    <!--Google Analytics-->

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-XXXXX-Y', 'auto');
        ga('send', 'pageview');
    </script>
    
    <!--End Google Analytics-->

</body>
</html>